 GENERAL */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color:#444;
	color:white;
	text-align:center;
	font-family:Arial,sans-serif;
	display: flex;
	justify-content:flex-start;
	align-items:center;
	flex-direction:column;
	height:100vh;
	width:100vw;
	font-size:14px;
}

p{
	line-height:25px;
}


/* HEADER STYLING*/
.header{
	width:100%;
	background-color:#666;
	padding:10px;
}



/* LEVEL DIFFICULTY STYLING*/
.level-container {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:20px auto 10px;
}

select{
	width:100%;
	padding:10px;
	outline:none;
	border:;
	font-size:18px;
	border-radius:4px;
	margin:10px auto 0;
	overflow:auto;
}

select:hover{
	background-color:transparent;
	color: white;
	border:2px inset white;
}

.level-btn {
	background-color:blue;
	color:blue;
}


/* START BUTTON STYLING*/
.start-btn{
	outline:0;
	border:0;
	padding:10px;
	font-size:24px;
	background-color:white;
	color:#333;
	font-weight:bold;
	border-radius:3px;
	width:80%;
	font-family:georgia;
	margin:30px auto;
}

.start-btn:hover{
	background-color:transparent;
	color:white;
	border:2px inset white;	
}


/* CONTAINER SECTION STYLING*/
.container{
	padding:10px;
	margin:10px auto;
	text-align:center;
	width:90%;
}

.tip{
	margin:0 auto 30px;
}


/*--- seconds */
.seconds{
	color:yellow;
}

/*--- current word */
.current-word {
	font-family:georgia;
	font-size:30px;
	margin:0 auto 30px;
}

/*--- word input */
.word-input{
	border:none;
	outline:none;
	width:100%;
	padding:10px;
	font-size:16px;
	margin:0 auto 20px;
}

/*--- remark */
.remark{
	margin:0 auto 20px;
}

/*--- status */
.status{
	padding:10px 0;
	display:flex;
	align-items:center;
	justify-content:space-around;
	margin:0 auto 30px;
}


.status p{
	font-size:18px;
	font-weight:bold;
}


/* INSTRUCTION SECTION STYLING*/
.instruction {
	width:90%;
	margin:50px auto 0;
	padding:10px;
	background-color:#666;
	text-align:left;
	font-size:14px;
	line-height:28px;
}

.instruction h3{
	margin:0 auto 10px;
}



/* Hide Class Styling */
.hide{
	display:none;
}
